server:
  port: PORT(8081)
spring:
  application:
    name: rule-management-service
  datasource:
    password: RULE_MANAGEMENT_DB_PASSWORD
    url: RULE_MANAGEMENT_DB_URL
    username: RULE_MANAGEMENT_DB_USERNAME
  jpa:
    hibernate:
      ddl-auto: create-drop # "create-drop" only for local dev
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true